# Este archivo .gitignore está diseñado para omitir archivos y carpetas
# que no son necesarios para el control de versiones.
# Principalmente para el proyecto de Flutter en App/ 

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
**/.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/.generated/

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/.dart_tool/
